{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Aesthetic Template" />
    <meta name="keywords" content="Aesthetic, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Healify</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'accounts/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/css/nice-select.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/jquery-ui.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'accounts/css/slicknav.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__logo">
        <a href="./index.html"><img src="" alt="" /></a>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__btn">
        <a href="#" class="primary-btn">Appointment</a>
      </div>
      <ul class="offcanvas__widget">
        <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
        <li>
          <i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl
        </li>
        <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
      </ul>
      <div class="offcanvas__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="header__top__left">
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-map-marker"></i> Address</li>
                            <li><i class="fa fa-clock-o"></i> Time</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="header__top__right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{%url 'home'%}"><img src="{% static 'img/healify_txt_bg (1).png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__menu__option">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="{%url 'home'%}">Home</a></li>
                                <li><a href="{%url 'about' %}">About</a></li>
                                <li><a href="{%url 'home' %}">Services</a></li>
                                <!--<li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./doctor.html">Doctor</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__btn">
                            {% if current_patient %}
                                <a href="{% url 'logout' %}" class="primary-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            {% else %}
                               <a href="{% url 'login' %} " class="primary-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <section class="spad set-bg" data-setbg="img/hero-bg.jpg"></section>

    <!-- Consultation Section Begin -->
    <section class="consultation">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="consultation__form">
              <div class="section-title">
                <span>Register now</span>
                <h2>Create Your Account</h2>
              </div>
              <form method="post" action="">
                {% csrf_token %} {% if form.errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                    {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}

                <div class="row">
                  <!-- Ligne 1 -->
                  <div class="col-lg-6">
                    <input
                      type="text"
                      placeholder="First Name"
                      name="first_name"
                    />
                  </div>
                  <div class="col-lg-6">
                    <input
                      type="text"
                      placeholder="Last Name"
                      name="last_name"
                    />
                  </div>

                  <!-- Ligne 2 -->
                  <div class="col-lg-6">
                    <input type="email" placeholder="Email" name="email" />
                  </div>
                  <div class="col-lg-6">
                    <input
                      type="tel"
                      placeholder="Phone Number"
                      name="num_phone"
                    />
                  </div>

                  <!-- Ligne 3 -->
                  <div class="col-lg-6">
                    <div class="datepicker__item">
                      <input
                        type="password"
                        placeholder="Password"
                        name="password"
                      />
                      <i class="fa fa-eye toggle-password"></i>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="datepicker__item">
                      <input
                        type="password"
                        placeholder="Confirm Password"
                        name="confirm_password"
                      />
                      <i class="fa fa-eye toggle-password"></i>
                    </div>
                  </div>

                  <!-- Ligne 4 -->
                  <div class="col-lg-6">
                    <input type="text" placeholder="Address" name="address" />
                  </div>
                  <div class="col-lg-6">
                    <select name="sex">
                      <option value="">Sex</option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                  </div>

                  <!-- Ligne 5 -->
                  <div class="col-lg-6">
                    <div class="datepicker__item">
                      <input
                        type="text"
                        placeholder="Birthdate"
                        class="datepicker"
                        name="birth_date"
                      />
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>

                  <!-- Bouton -->
                  <div class="col-lg-12">
                    <button type="submit" class="site-btn">Register</button>
                  </div>
                  <div class="col-lg-12 text-center mt-3">
                    <span class="section-title-message"
                      >Do you already have an account?
                      <a href="{% url 'login' %} " class="custom-link"
                        >Login</a
                      ></span
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Consultation Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad"></section>
    <!-- Chooseus Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="footer__logo">
                <a href="#"><img src="" alt="" /></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-8">
              <div class="footer__newslatter">
                <form action="#">
                  <input type="text" placeholder="Email" />
                  <button type="submit" class="site-btn">Subscribe</button>
                </form>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="footer__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h5>Company</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Find a Doctor</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">News</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h5>Quick links</h5>
              <ul>
                <li><a href="#">Facial Fillers</a></li>
                <li><a href="#">Breast Surgery</a></li>
                <li><a href="#">Body Lifts</a></li>
                <li><a href="#">Face & Neck</a></li>
                <li><a href="#">Fat Reduction</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer__address">
              <h5>Contact Us</h5>
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230
                  Bariasl
                </li>
                <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                <li><i class="fa fa-envelope"></i> Support@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-6">
            <div class="footer__map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                height="190"
                style="border: 0"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <div class="footer__copyright__text">
                <p>
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
              </div>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
            <div class="col-lg-5">
              <ul>
                <li>All Rights Reserved</li>
                <li>Terms & Use</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'accounts/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'accounts/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'accounts/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'accounts/js/main.js' %}"></script>

    <script>
      // Sélectionne tous les icônes de type œil
      const toggleIcons = document.querySelectorAll(".toggle-password");

      toggleIcons.forEach(function (icon) {
        icon.addEventListener("click", function () {
          // Trouver l'input juste avant l'icône
          const input = this.previousElementSibling;

          // Bascule entre 'password' et 'text'
          if (input.type === "password") {
            input.type = "text";
            this.classList.remove("fa-eye");
            this.classList.add("fa-eye-slash");
          } else {
            input.type = "password";
            this.classList.remove("fa-eye-slash");
            this.classList.add("fa-eye");
          }
        });
      });
    </script>
  </body>
</html>
