<!DOCTYPE html>
<html lang="zxx">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aesthetic Template">
    <meta name="keywords" content="Aesthetic, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Healify</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/query-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn">
            <a href="{% url 'login' %}" class="primary-btn">Login</a>
        </div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
            <li><i class="fa fa-map-marker"></i> Address</li>
            <li><i class="fa fa-clock-o"></i> </li>
        </ul>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="header__top__left">
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-map-marker"></i> Address</li>
                            <li><i class="fa fa-clock-o"></i> Time</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="header__top__right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{%url 'home'%}"><img src="{% static 'img/healify_txt_bg (1).png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__menu__option">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="{%url 'home'%}">Home</a></li>
                                <li><a href="{%url 'about' %}">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <!--<li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./doctor.html">Doctor</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="{%url 'contact'%}">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__btn">
                            {% if current_patient %}
                                <a href="{% url 'logout' %}" class="primary-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="primary-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{% static 'img/home1.jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__text">
                        <span> Empowering Healthcare with Intelligent Insights</span>
                        <h2>AI-Driven Solutions for Medical Record Analysis and Skin Disease Detection</h2>
                        <a href="#services" class="primary-btn normal-btn">Discover Our AI</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Consultation Section Begin -->
    <!--<section class="consultation">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="consultation__form">
                        <div class="section-title">
                            <span>REQUEST FOR YOUR</span>
                            <h2>Consultation</h2>
                        </div>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <div class="datepicker__item">
                                <input type="text" placeholder="Date" class="datepicker">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <select>
                                <option value="">Type of service</option>
                                <option value="">Advanced equipment</option>
                                <option value="">Qualified doctors</option>
                                <option value="">Certified services</option>
                                <option value="">Emergency care</option>
                            </select>
                            <button type="submit" class="site-btn">Book appoitment</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="consultation__text">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__text__item">
                                    <div class="section-title">
                                        <span>Welcon to Aesthetic</span>
                                        <h2>Find Best Doctors With <b>AESTHETIC</b></h2>
                                    </div>
                                    <p>30 Years of experience in Cosmetic Surgery.Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__video set-bg" data-setbg="img/consultation-video.jpg">
                                    <a href="https://www.youtube.com/watch?v=PXsuI67s2AA" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Consultation Section End -->

    
   <!--choose us Begin-->
    <section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Why Choose Healify?</span>
                    <h2>Your Intelligent Healthcare Partner</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <i class="fa fa-file-medical-alt fa-3x" style="color: #13a2b7;"></i>
                    <h5>AI-Powered Medical Record Analysis</h5>
                    <p>Leverage the power of artificial intelligence to extract meaningful insights from medical records, aiding in faster and more accurate diagnoses.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <i class="fa fa-search fa-3x" style="color: #13a2b7;"></i>
                    <h5>Advanced Skin Disease Detection</h5>
                    <p>Utilize cutting-edge AI algorithms and image analysis for the early and accurate detection of various skin conditions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <i class="fa fa-database fa-3x" style="color: #13a2b7;"></i>
                    <h5>Data-Driven Insights & Predictions</h5>
                    <p>Benefit from AI's ability to identify patterns and trends in medical data, leading to more informed clinical decisions and predictive capabilities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <i class="fa fa-user-nurse fa-3x" style="color: #13a2b7;"></i>
                    <h5>Personalized Healthcare Support</h5>
                    <p>Enable more tailored and effective patient care through AI-driven analysis that considers individual medical histories and potential risks.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
   <!--choose us End-->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" data-setbg="{% static 'img/service-bg.jpg' %}" id ="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Our services</span>
                        <h2>Offer for you</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__btn">
                        <a href="#" class="primary-btn">Contact us</a>
                    </div>
                </div>
            </div>
            <!--<div class="row d-flex">
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                        </div>
                        <div class="services__item__text">
                            <h5>Medical Record Analysis</h5>
                            <h5>Unlock the Power of Patient Data</h5>
                            <p>Our AI algorithms intelligently analyze medical records,
                             extracting key insights, identifying patterns, and supporting faster,
                             more informed clinical decisions. Improve diagnostic accuracy and personalize patient care.
                            </p>
                        </div>
                    </div>
                    <a href="{% url 'healytics' %}" class="primary-btn normal-btn" style="display:flex; justify-content: center">Healytics</a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="services__item__icon">
                    </div>
                    <div class="services__item">
                        <div class="services__item__text">
                            <h5>Skin Disease Detection & Analysis</h5>
                            <h5>Intelligent Skin Health at Your Fingertips</h5>
                            <p>Utilizing advanced AI and image recognition,
                            our platform assists in the early detection and analysis of skin diseases. 
                            Empowering patients and dermatologists with timely and accurate information.
                            </p>
                        </div>
                    </div>
                    <a href="{% url 'chatbot' %}" class="primary-btn normal-btn service" style="display:flex; justify-content: center">SkinGuardian</a>

                </div>
                
                
            </div>-->
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Doctor Section Begin -->
    <section class="doctor spad">
        <div class="container">
            <div class="doctor__item">
                <div class="row">
                    <div class="col-lg-6 order-lg-1">
                        <div class="doctor__item__pic">
                            <img src="{% static 'img/services/sd-1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="doctor__item__text">
                            <span>Unlock the Power of Patient Data</span>
                            <h2>Medical Record Analysis</h2>
                            <p>Our AI algorithms intelligently analyze medical records,
                            extracting key insights, identifying patterns, and supporting faster,
                            more informed clinical decisions. Improve diagnostic accuracy and 
                            personalize patient care.
                            </p>
                            <ul>
                                <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                                <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                                <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                                <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                            </ul>
                            <a href="{% url 'healytics' %}" class="primary-btn normal-btn service" style="display:flex; justify-content: center">Healytics</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor__item">
                <div class="row">
                    <div class="col-lg-6 order-lg-4">
                        <div class="doctor__item__pic">
                            <img src="{% static 'img/services/sd-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-3 ">
                        <div class="doctor__item__text">
                            <span>Intelligent Skin Health at Your Fingertips</span>
                            <h2>Skin Disease Detection & Analysis</h2>
                            <p>Utilizing advanced AI and image recognition,
                            our platform assists in the early detection and analysis of skin diseases. 
                            Empowering patients and dermatologists with timely and accurate information.
                            </p>
                            <ul>
                                <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                                <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                                <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                                <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                            </ul>
                            <a href="{% url 'chatbot' %}" class="primary-btn normal-btn service" style="display:flex; justify-content: center">SkinGuardian</a>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Doctor Section End -->

    

    <!-- Team Section Begin -->
     <!--
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>Our Expert Doctors</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-1.jpg" alt="">
                        <h5>Caroline Grant</h5>
                        <span>Plastic surgeon</span>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-2.jpg" alt="">
                        <h5>Dr. Maria Angel</h5>
                        <span>Plastic surgeon</span>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-3.jpg" alt="">
                        <h5>Nathan Mullins</h5>
                        <span>Plastic surgeon</span>
                        <div class="team__item__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Team Section End -->

    <!-- Gallery Begin -->
     <!--
    <div class="gallery">
        <div class="gallery__container">
            <div class="grid-sizer"></div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-1.jpg">
                <a href="img/gallery/gallery-1.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-2.jpg">
                <a href="img/gallery/gallery-2.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-3.jpg">
                <a href="img/gallery/gallery-3.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item gc__item__large set-bg" data-setbg="img/gallery/gallery-4.jpg">
                <a href="img/gallery/gallery-4.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-5.jpg">
                <a href="img/gallery/gallery-5.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-6.jpg">
                <a href="img/gallery/gallery-6.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
            <div class="gc__item set-bg" data-setbg="img/gallery/gallery-7.jpg">
                <a href="img/gallery/gallery-7.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
            </div>
        </div>
    </div>-->
    <!-- Gallery End -->

    <!-- Latest News Begin -->
     <!--
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Our News</span>
                        <h2>Skin care tips</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="#" class="primary-btn">View all news</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Here’s how you can get a natural glow this party season</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Get better skin with these top 10 tips for skin care</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">8 Ways to Save Your Skin if You Exercise Outside This Winter</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Latest News End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static 'img/healify_txt_bg (1).png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="footer__newslatter">
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit" class="site-btn">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Company</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Find a Doctor</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="#">Facial Fillers</a></li>
                            <li><a href="#">Breast Surgery</a></li>
                            <li><a href="#">Body Lifts</a></li>
                            <li><a href="#">Face & Neck</a></li>
                            <li><a href="#">Fat Reduction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__address">
                        <h5>Contact Us</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-envelope"></i> Support@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-6">
                    <div class="footer__map">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                        height="190" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-5">
                        <ul>
                            <li>All Rights Reserved</li>
                            <li>Terms & Use</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>









</body>

</html>