{% extends 'assistant_medical/base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <!-- ... (contenu original) ... -->
    </section>
    <!-- Breadcrumb Section End -->
    <h1>home
        assistant_medical
    </h1>
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <!-- ... (contenu original) ... -->
    </section>
    <!-- Contact Section End -->
{% endblock %}